/* for nav bar  */
@media only screen and (max-width: 768px) {
    nav {
      margin: 0px 4px;
    }
  }
  /* education and experience */
  @media only screen and (max-width: 768px) {
    .timeline {
      width: 100%;
      min-width: 0;
    }
    .timeline-divider {
      height: 85%;
      left: 5%;
    }
    .timeline-box {
      margin: 2em;
      width: 85%;
    }
    .timeline-box:nth-child(2n) {
      left: 5%;
    }
  }
  /* about */
  
      
      @media only screen and (max-width: 768px) {
        #about p {
          width: 80%;
          min-width: 0;
          font-size: xx-small;

          padding-left: 150px;
          margin-top: -50px;
        }
        #about #my-image {
          min-width: 180px;
        }
      }
  

  /* portfolio */

        @media only screen and (max-width:768px) {
         #portfolio .projects .imagediv .imagefix{
          width: 45%;

         }
          
      }  


    
/* contacts */
@media only screen and (max-width: 572px) {
  #contact .social-links {
    font-size: 0.75em;
  }
  #contact .social-links i {
    padding: 0 0.25em;
  }
}
@media only screen and (max-width: 768px) {
  .contact-container {
    min-width: 0;
  }
  .contact-container .contact-form-container {
    margin-bottom: 5rem;
  }
  .contact-container .contact-form-container, .contact-container .address-container {
    flex-basis: 80%;
  }
}